.container {
  user-select: none;
  margin: 0 auto;
}

.imageContainer {
  display: block;
  width: 532px;
  height: 532px;
  position: relative;
}

.mapImage {
  position: absolute;
  z-index: 1;
}

.mapCanvas {
  position: relative;
  z-index: 2;
  touch-action: none;
}
